html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-loading {
  background-color: white !important;
}

// update foto profil modal
.show_btn_crop {
  display: inline-flex !important;
}

.hide_btn_crop {
  display: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
.header {
  .foto {
    &:hover {
      background-color: aliceblue;
      border-radius: 10px;
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                                    login                                   */
/* -------------------------------------------------------------------------- */
.bg-login {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;

  .image-login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  .card-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .bg-login {
    display: flex !important;
    justify-content: center !important;
    grid-template-columns: unset !important;
    .image-login {
      display: none !important;
    }
  }

}


/* -------------------------------------------------------------------------- */
/*                                    home                                    */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.dashboard {
  .greeting {
    // font-family: 'DM Serif Display', serif;
    // text-shadow: 3px 3px 5px #dbd6d6;
    font-weight: 600;
    
    &::selection {
      background-color: aliceblue;
    }

    &-name {
      &::selection {
        background-color: aliceblue;
      }
    }
  }
  .body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    .card-product {
      cursor: pointer;
      transition-timing-function: ease-in;
      transition: box-shadow 99ms;
      &:hover {
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border: unset;
        transition-timing-function: ease-out;
        transition: box-shadow 99ms;
      }
      .title {
        font-family: 'Roboto', sans-serif;

        &::selection {
          background-color: aliceblue;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .dashboard {
    .body {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767.8px) {
  .dashboard {
    height: 100%;
    min-height: 100vh;
    .body {
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 10px !important;
    }
  }
}

@media screen and (max-width: 575.8px) {
  .dashboard {
    height: 100%;
    min-height: 100vh;
    .body {
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 10px !important;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   profil                                   */
/* -------------------------------------------------------------------------- */
.profil {
  height: 100%;
  min-height: 100vh;
  .card {
    .bg-foto {
      background-image: url('https://images.unsplash.com/photo-1585675705484-c2239e62a395?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80');
      background-position: center;
      border-radius: 10px 10px 0px 0px;

      &-backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        border-radius: 10px 10px 0px 0px;
      }
    }

    .detailuser {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
      row-gap: 30px;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767.8px) {
  .profil {
    // height: 100vh;
    .card {
      width: 95% !important;
      .detailuser {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        row-gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 575.8px) {
  .profil {
    // height: 100vh;
    .card {
      width: 95% !important;
      .detailuser {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        row-gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}